@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.image-background{
    position: absolute;
    width: 100%;
    height: auto;
}

.generatecode-card{
    display: flex;
    flex-direction: row;
    position: absolute; 
    align-items: center;
    justify-content: center;

    top: 20%;
    right: 20%;

    width: 50%;
    padding: 100px;
    gap: 75px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background: #ffffff;
    border-radius: 25px;
}

h1{
    font-weight: 900;
    font-size: 2.5rem;
    margin: .25rem 0;
    color: #004AAD;
    text-wrap: nowrap;
}

.flex-generateform{
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 24px;
    width: 500px;
    height: auto;
}
  
  form a{
    font-weight: 700;
    text-decoration: none;
    color: #004AAD;
  }
  
  form a:hover{
    color : #FFC72C;
  }
  
  .control,
  fieldset {
    margin-bottom: 1rem;
  }
  
  .control.no-margin {
    margin-bottom: 1.5rem;
  }
  
  .control label {
    line-height: 1.75rem;
    font-size: 1.25rem;
    color: #000000;
    text-transform: capitalize;
    font-weight: bold;
  }
  
  .control input {
    width: 100%;
    padding: .75rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 2px solid #80A5D6;
    background-color: #ffffff;
    color: #a7a7a7;
  }
  
  .control select {
    width: 100%;
    max-width: 15rem;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 4px;
  }
  
  .control-error {
    color: #ED4848;
    font-size: 0.8rem;
    height: 2rem;
    padding: 0.5rem 0;
  }
  
  .control-error p {
    margin: 0;
  }
  
  .control-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
  }
  
  .form-actions {
    display: flex;
    justify-content: flex-start;
  }

  .flex-generatecode{
    display: flex;
    flex-direction: column;

    width: 500px;
    height: auto;
    gap: 24px;
  }

  .generatecode img{
    width: 456px;
    height: 456px;
    padding: 22px;
    margin: auto;
    justify-content: center;
    background-color: #000000;
    border-radius: 25px;
  }

  .input-generateform {
    width: 100%;
    padding: .5rem 0;
    
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;

    border-radius: 5px;
    border: none;
    background-color: #a7a7a7;
    color: #ffffff;
    opacity: 0.6;

    cursor: not-allowed;
  }

  .action-generatecode{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .action-generatecode button {
    width: 225px;
    padding: .75rem;

    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;

    border-radius: 5px;
    border: 3px solid #a7a7a7;
    background-color: #ffffff;
    color: #a7a7a7;
    opacity: 0.6;

    cursor: not-allowed;
  }  