@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}

.flex-container{
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.flex-container .flex-form{
  flex-grow: 5;
  align-content: center;
  margin-left: 7vw;
}

.flex-container .flex-illust{
  flex-grow: 3;
}

.flex-container .flex-illust img{
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: 'Roboto', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
  color: #a7a7a7;
  min-height: 100vh;
}

form {
  width: 100%;
  flex: 1;
  padding: 2vi;
}

form a{
  font-weight: 700;
  text-decoration: none;
  color: #004AAD;
}

form a:hover{
  color : #FFC72C;
}

.control,
fieldset {
  margin-bottom: .5rem;
}


.control label {
  line-height: 1.25rem;
  font-size: 1.5rem;
  color: #000000;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 1rem;
}

.control input {
  display: block;
  width: 100%;
  padding: .75rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid #80A5D6;
  background-color: #ffffff;
  color: #a7a7a7;
}

.control select {
  display: block;
  width: 100%;
  max-width: 15rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
}

.control-error {
  color: #ED4848;
  font-size: 0.8rem;
  height: 2rem;
  padding: 0.5rem 0;
}

.control-error p {
  margin: 0;
}

.control-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
}

.form-actions {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.button {
  display: block;
  width: 100%;
  padding: .5rem 0;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  border-radius: 5px;
  border: none;
  background-color: #004AAD;
  color: #ffffff;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #80A5D6;
  color: #004AAD;
  
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }

  .flex-container .flex-form {
    padding: 3rem;
  }
}

