@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Segment List */
.segment-card{
    display: flex;
    flex-direction: row;
    gap: 35px;
    padding: 24px 48px;
    background-color: white;
    border-block: 1px solid #a7a7a7;
    align-items: center;

    max-width: 740px;
}

.segment-thumbnail img{
    border-radius: 5px;
    max-width: 200px;
    max-height: 150px;
    object-fit: cover;
}

.segment-info p {
    color: #4c4c4c ;
    font-size: 1rem;
}

.segment-info ul li{
    text-decoration: none;
    display: block;
    align-content: center;
    margin-top: 5px;
    font-size: 1.25rem;
    font-weight: 400;
}

.segment-info .material-icons{
    color: #004AAD;
    margin-right: 8px;
    vertical-align: middle;
}

.segment-info h2{
    color : #333333;
    font-size: 1.75rem;
    margin-top: 12px;
}

/* Segment Picture */
.segment-picture{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    max-width: 100%;
    height: auto;
}

.segment-picture>img{
    flex: 1;
}


/* Segment Table */
table{
    border-radius: 8px;
    border-collapse: collapse;
    color: black;
    text-align: left;
    width: 100%;
    height: auto;
}

table thead{
    font-size: 18px;
    font-weight: bold;
    background-color: #eaeaea;
    border: 1px solid #a7a7a7;
}

table tbody{
    font-size: 16px;
    font-weight: 300;
    background-color: white;
    border: 1px solid #a7a7a7;
}

th, td {
    padding: 10px;
}

.table-actionbutton{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.table-actionbutton button{
    align-self: center;
    border: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);

}

.filter-container{
    display: flex;
    flex-direction: row;
    max-height: 50px; 
    padding: 15px;
    justify-content: space-evenly;
    background-color: #fafafa;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2); 
}

.filter-container input{
    width: 400px;
    padding: 5px;
    border:  1px solid #a7a7a7;
    border-radius: 5px;
}

.filter-container button{
    padding: 5px;
    background-color: white;
    border:  1px solid #a7a7a7;
    border-radius: 5px;
    color: #4c4c4c;
}

.filter-container button .material-symbols-outlined{
    vertical-align: middle;
    margin-right: auto;
}

/* Data Management */
.datamanagement-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-segmentlist{
    flex-grow: 3;
}

.flex-segmentdetail{
    flex-grow: 5;

    display: flex;
    flex-direction: column;
}

.flex-segmenttable{
    width: 75%;
    align-self: center;
    justify-self: center;

    margin-top: 36px;
}

.flex-segmenttable table
{
    margin: 18px 0;
}


@media (max-width: 1800px) {
    .segment-picture{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
  }